.form__container {
  text-align: center;
  padding: 15px 100px;
  background-color: rgba(240, 255, 255, 0.849);
  border: 1px solid black;
}

h2 {
  margin-top: 15px;
}

.link {
  margin-top: 15px;
}
