<div class="form__container">
  <img src="assets/logo.svg" alt="logo gpsguard" />

  <h2>Reset Password</h2>
  <form [formGroup]="resetForm" (submit)="onSubmit(resetForm)">
    <mat-form-field class="input__field" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-icon
        class="tooltip__icon"
        matTooltip="We will send you reset password link to your account E-mail"
        matTooltipPosition="after"
        >help</mat-icon
      >
    </mat-form-field>
  </form>
  <div class="btnlogin__container">
    <button mat-raised-button color="primary">Send</button>
  </div>

  <div class="link">
    <a (click)="goToLogin()">Back to Login page</a>
  </div>
</div>
