<div class="form-container form-container--reset">
  <div *ngIf="!isEmailExist">
    <img src="assets/logo.svg" alt="logo gpsguard" />

    <h2>Reset Password</h2>
    <form
      class="form form--reset"
      id="reset"
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit(resetForm.value)"
    >
      <mat-form-field class="input__field" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="!resetForm.valid"
          >You must enter correct e-mail, e.g. geo@example.com</mat-error
        >
        <mat-icon
          class="tooltip__icon tooltip__icon--reset"
          matTooltip="We will send reset password link to your account E-mail"
          matTooltipPosition="after"
          >help</mat-icon
        >
      </mat-form-field>
    </form>
    <div class="btnlogin__container">
      <button
        mat-raised-button
        color="primary"
        form="reset"
        [disabled]="!resetForm.valid"
      >
        Send
      </button>
    </div>
    <p *ngIf="isEmailNotFound">Email not found in the database !</p>
    <p>{{ errorMessage }}</p>
    <div class="link">
      <a (click)="goToLogin()">Back to Login page</a>
    </div>
  </div>
  <div *ngIf="isEmailExist">
    <h3>
      Reset password link has been send. Check your E-mail for further
      instructions.
    </h3>
    <h6>You will be redirected to login page in 5 seconds...</h6>
  </div>
</div>
