html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  width: 120px;
  margin-top: 15px;
}

.error {
  &__message {
    color: rgb(180, 14, 14);
    text-align: center;
    font-weight: 600 !important;
  }
}

.form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  text-align: center;
  padding: 15px 75px;
  background-color: rgba(240, 255, 255, 0.911);
  border: 1px solid black;
  height: 500px;
  &--reset {
    height: auto;
  }
}

.hidden {
  opacity: 0;
  cursor: default;
}

.input {
  &__field {
    margin-top: 20px;
    padding: 0;
    position: relative;
  }
}

p {
  margin: 10px auto !important;
}

.router-link {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  color: rgb(34, 100, 243);
  cursor: pointer;
}

.input {
  &__icon {
    &--tooltip {
      position: absolute;
      transform: scale(1.3);
      right: -70px;
      top: -8px;
      &--reset {
        right: -48px;
      }
    }
  }
}

.visible {
  opacity: 1;
}
