.btnlogin {
  &__container {
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
  }
}

button {
  width: 150px;
}

.error {
  &__icon {
    color: red;
    transform: scale(1.2);
  }

  &__message {
    color: rgb(180, 14, 14);
  }
}

p {
  max-width: 320px;
}
