.input {
  &__icon--check {
    color: rgb(0, 184, 24);
    transform: scale(1.2);
  }
}

.error {
  &__message {
    text-align: center;
    font-weight: 400;
    max-width: 320px;
  }
}

.progress {
  &__bar {
    width: 50%;
  }
}
