@use "@angular/material" as mat;
@include mat.core();

$LoginApp-primary: mat.define-palette(mat.$indigo-palette);
$LoginApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$LoginApp-warn: mat.define-palette(mat.$red-palette);

$LoginApp-theme: mat.define-light-theme(
  (
    color: (
      primary: $LoginApp-primary,
      accent: $LoginApp-accent,
      warn: $LoginApp-warn,
    ),
  )
);

@include mat.all-component-themes($LoginApp-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btnlogin {
  &__container {
    display: flex;
    justify-content: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  &__field {
    margin-top: 20px;
    padding: 0;
    position: relative;
  }
}

.link {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  cursor: pointer;
}

.tooltip {
  &__icon {
    position: absolute;
    transform: scale(1.3);
    right: -70px;
    top: -8px;
    &--reset {
      right: -48px;
    }
  }
}

.form {
  width: 75%;
  margin: 0 auto;
}

.form-container {
  text-align: center;
  padding: 15px 75px;
  background-color: rgba(240, 255, 255, 0.911);
  border: 1px solid black;
  height: 500px;
  &--reset {
    height: auto;
  }
}

.hidden {
  opacity: 0;
  cursor: default;
}

.visible {
  opacity: 1;
}

mat-password-strength .mat-progress-bar-fill::after {
  background-color: #4caf50;
}

mat-password-strength
  .mat-progress-bar.mat-accent
  .mat-progress-bar-fill::after {
  background-color: #ffa126;
}

mat-password-strength .mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: #ee1202;
}

@media (max-width: 599px) {
  .mat-tab-label {
    min-width: 50% !important;
  }
}

@media (max-width: 599px) {
  .form-container {
    padding: 15px 50px;
  }
}
@media (max-width: 400px) {
  .form-container {
    padding: 15px;
  }
  .form {
    width: 70%;
  }
}
